@font-face {
    font-family: CartographBold;
    src: url(CartographCF-Bold.ttf);
}

@font-face {
    font-family: CartographSemiBold;
    src: url(CartographCF-DemiBold.ttf);
}

@font-face {
    font-family: intermedium;
    src: url(Inter-Medium.ttf);
}

@font-face {
    font-family: intersemibold;
    src: url(Inter-SemiBold.ttf);
}

@font-face {
    font-family: interbold;
    src: url(CartographCF-DemiBold.ttf);
}

/*
    white:  #FFFFFF
    gray: #EAECF0
    orange: #FF7E61
    blue-bg-gradient: 
    gray-gradient:
*/

nav, main, section, footer{ 
    width: 100%;
}

*{ 
    margin:0; 
    padding: 0; 
    font: inherit;
    box-sizing: border-box;
}

ul {
    list-style-type:none; 
}

html:focus-within {
     scroll-behavior: smooth 
    }

html, body {
    height:100% 
} 

body { 
    text-rendering: optimize-speed; 
    min-height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #1D2939 0%, rgba(29, 41, 57, 0.98) 100%);
}

a {
    text-decoration: none;
}

*, 
*::before, 
*::after {
    box-sizing:border-box;
}

img, picture, svg {
    max-width: 100%;
    display: block
}

@media (prefers-reduced-motion: reduce) {
     html:focus-within { scroll-behavior:auto; }
}

.nav-container { width: 92%; max-width: 1600px; margin: 0 auto}

.main-container, .cards-container, .team-container { width: 88%; max-width: 1600px; margin: 0 auto}

.nav-container {
    display: flex;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: intermedium;
}

.nav-menu ul{
    display: flex;
}

.nav-menu a{
    text-decoration: none;
    margin: 0em 0.1em;
    letter-spacing: 0.05rem;
    color: white;
    padding: 0.5em 1em;
    border-radius: 6px;
}

.nav-menu a:hover {
    background: rgba(244, 244, 245, 0.1);
}

.nav-join a{
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 6px;
    color: #28374D;
}

.nav-join a:hover {
    color: #FF7E61;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container h1{
    color: #EAECF0;
    font-family: intermedium;
    letter-spacing: 0.02rem;
    font-size: 1.1rem;
}

.cards-container {

}

.section-subtitle {
    font-family: CartographBold;
    color: #FF7E61;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.06rem;
}

.section-title {
    font-family: intersemibold;
    color: white;
    letter-spacing: 0.018rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.1em 0em 0.34em 0em;
}

.section-description{
    font-family: intermedium;
    color: #EAECF0;
    text-align: center;
}

.team-grid{
    margin: 2em auto;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 1.4em;
    transform: translateY(-50%);
  }
  
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translateY(-50%);
  }

.team-card{
    text-align: center;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(244, 244, 245, 0.14) 0%, rgba(244, 244, 245, 0.084) 99.85%);
    mix-blend-mode: normal;
    border-radius: 22px;
}

.team-pfp {
    border-radius: 22px;
}

.team-title {
    font-family: intersemibold;
    color: #EAECF0;
    font-size: 1.68rem;
    letter-spacing: 0.02rem;
    padding-top: 1.2em;
}

.team-subtitle{
    font-family: CartographBold;
    color: #FF7E61;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.06rem;
    padding: 0.1em 0em;
}

.team-twitter-icon {
    color: #EAECF0;
    padding-bottom: 2em;
}

.team-twitter-icon:hover {
    color: #d1d1d1;
}

.faq .q{
    color: #EAECF0;
}

.faq .a{
    color: #EAECF0;
}
.fa-angle-right, .fa-angle-left {
    color: #EAECF0;
}
