@font-face {
    font-family: interregular;
    src: url(assets/fonts/Inter-Variable.ttf);
}

@font-face {
    font-family: intermedium;
    src: url(assets/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: intersemibold;
    src: url(assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: ChakraPetchSemibold;
    src: url(assets/fonts/ChakraPetch-SemiBold.ttf);
}


/*
    white:  #FFFFFF
    gray: #EAECF0
    orange: #FF7E61
    blue-bg-gradient: 
    gray-gradient:
*/

nav, main, section, footer {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html:focus-within {
    scroll-behavior: smooth
}

html, body {
    height: 100%
}

body {
    text-rendering: optimizeSpeed;
    min-height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #1D2939 0%, rgba(29, 41, 57, 0.98) 100%);
    /* background-color: #10263D
    background-color: whitesmoke; */
}

a {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img, picture, svg {
    max-width: 100%;
    display: block
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

.nav-container, .main-container, .cards-container, .team-container, .faq-container, .footer-container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto
}

.cards-container {
    width: 68%;
    max-width: 1600px;
    margin: 0 auto
}

.card-order {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto
}

.partnerships-container {
    width: 58%;
    max-width: 1600px;
    margin: 0 auto
}


@media (max-width: 600px) {
    .cards-container {
        width: 92%
    }
}

.nav-container {
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    font-family: intermedium;
    font-size: 0.96rem;
}

.submenu {
    display: none;
}

/* Display submenu when parent is hovered */
.dropdown:hover .submenu {
    display: block;
}


.submenu {
    display: none;
}

/* Display submenu when parent is hovered */
.dropdown:hover .submenu {
    display: block;
}

.nav-menu .icon {
    display: none;
    background: rgba(244, 244, 245, 0.1);
}

.nav-menu .icon i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (max-width: 600px) {

    .nav-menu li:not(:last-child) {
        display: none;
    }

    /*!* Hide main menu items *!*/
    /*.nav-menu ul.menu > li {*/
    /*    display: none;*/
    /*}*/
    /* Display "More" menu item */
    .nav-menu .icon {
        display: block;
    }

    /* Display submenu when "More" is clicked */
    .nav-menu ul.menu > li.dropdown.active .submenu {
        display: block;
    }

    /*.nav-menu .icon {*/
    /*    display: block;*/
    /*}*/
    #dropdown-active {
        display: none;
        background: rgba(244, 244, 245, 0.1);
        padding-bottom: 3vh;
        font-family: intermedium;
        font-size: 1rem;
    }

    #dropdown-active .nav-options-active a {
        text-decoration: none;
        letter-spacing: 0.05rem;
        color: white;
        border-radius: 6px;
    }

    #dropdown-active .nav-options-active li {
        margin: 1.2vh 0;
    }

    .nav-options-active {
        margin: auto 5vw;
    }
}

.nav-menu ul {
    display: flex;
}

.pfp-logo-nav {
    max-width: 50px;
}

.nav-menu a {
    text-decoration: none;
    margin: 0em 0.1em;
    letter-spacing: 0.05rem;
    color: white;
    padding: 0.5em 1em;
    border-radius: 6px;
}

.nav-menu a:hover {
    background: rgba(244, 244, 245, 0.1);
}

.nav-join a {
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 6px;
    color: #28374D;
}

.nav-join a:hover {
    color: #FE8163;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-image: url("assets/images/main/background.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
}

.logo {
    padding: 1.6em 0em;
}

.main-container h1 {
    color: #EAECF0;
    font-family: intermedium;
    letter-spacing: 0.024rem;
    font-size: 1.18rem;
}

.section-subtitle {
    font-family: ChakraPetchSemibold;
    color: #FE8163;
    text-align: center;
    font-size: 1.24rem;
    letter-spacing: 0.1rem;
}

.section-title {
    font-family: intersemibold;
    color: white;
    letter-spacing: 0.018rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.2em 0em 0.6em 0em;
}

.section-description {
    font-family: intermedium;
    color: #EAECF0;
    text-align: center;
    margin-bottom: 4em;
}

.section-description-team {
    margin-bottom: 2em;
}

.cards-grid {
    margin: 4.4em auto;
    display: grid;
    gap: 1.8em;
    grid-template-areas: 
                        "networking mint"
                        "alpha mint"
                        "whitelist whitelist"
                        "education partnerships";
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .cards-grid {
        grid-template-areas: 
        "networking"
        "alpha"
        "mint"
        "whitelist"
        "education"
        "partnerships";
        grid-template-columns: 1fr;
    }

    main {
        min-height: 400px;
    }
}

.networking-card {
    grid-area: networking;
}

.networking-card img {
    max-width: 110px;
}

.mint-card {
    grid-area: mint;
}

.mint-card img {
    max-width: 140px;
}

.alpha-card {
    grid-area: alpha;
}

.alpha-card img {
    max-width: 88px;
}

.whitelist-card {
    grid-area: whitelist;
}

.whitelist-card img {
    max-width: 110px;
}

.education-card {
    grid-area: education;
}

.partners-card {
    grid-area: partnerships;
}

.education-card img {
    max-width: 80px;
}

.partners-card img {
    max-width: 150px;
}

.info-card {
    background: linear-gradient(180deg, rgba(244, 244, 245, 0.1) 0%, rgba(244, 244, 245, 0.06) 99.85%);
    border-radius: 20px;
    padding: 1.88em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-title {
    font-family: intersemibold;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    text-align: center;
}

.card-description {
    font-family: intermedium;
    color: #EAECF0;
    letter-spacing: 0.03rem;
    text-align: center;
    line-height: 1.5rem;
    padding: 0.8em 0em 1.4em 0em;
}

.monitor-description {
    line-height: 2rem;
}

.owl-carousel {
    margin: 2em auto;
}

.owl-carousel .team-card {
    transition: all 0.26s ease-out;
}

.owl-carousel .team-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 1.4em;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translateY(-50%);
}

.team-card {
    text-align: center;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(244, 244, 245, 0.14) 0%, rgba(244, 244, 245, 0.084) 99.85%);
    mix-blend-mode: normal;
    border-radius: 20px;
    margin: 2em auto 4em auto;
}

.team-pfp {
    border-radius: 20px;
}

.team-title {
    font-family: intersemibold;
    color: #EAECF0;
    font-size: 1.68rem;
    letter-spacing: 0.03rem;
    padding-top: 1.16em;
}

.team-subtitle {
    font-family: ChakraPetchSemibold;
    color: #FE8163;
    text-align: center;
    font-size: 1.044rem;
    letter-spacing: 0.08rem;
    padding: 0.33em 0em 0.88em 0em;
}

.team-twitter-icon {
    color: #EAECF0;
    padding-bottom: 2.2em;
}

.team-twitter-icon:hover {
    color: #c4c4c4;
}

.faq .a {
    color: #EAECF0;
}

.faq-title {
    margin-top: 6em;
}

.fa-angle-right, .fa-angle-left {
    color: #ffffff;
    text-shadow: 5px 5px 18px rgb(61, 61, 61);
}

.fa-link {
    padding: 0em 0.4em;
}

.card-order {
    display: flex;
    background: linear-gradient(180deg, rgba(244, 244, 245, 0.14) 0%, rgba(244, 244, 245, 0.084) 99.85%);
    padding: 1.8em 4em;
    border-radius: 20px;
    min-height: 300px;
    align-items: center;
    justify-content: space-around;
}

.glide {
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.glide__arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    border: none;

}

.glide__arrow i.iconx {
    font-size: 24px;
    color: #EAECF0;
    border: none;
}

.glide__arrow {
    font-size: 30px;
    color: #555;
    background: transparent;
    cursor: pointer;
    border: none !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
}

.glide__arrow:before {
    border: none !important;
}

.glide__slide {
    transition: transform 0.6s ease;
    align-items: center;
}

.partner-title {
    font-family: intersemibold;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    text-align: center;
}

.partner-type {
    font-family: ChakraPetchSemibold;
    color: #FE8163;
    text-align: center;
    font-size: 1.044rem;
    letter-spacing: 0.08rem;
    padding-top: 0.5em;
}

.partner-subtitle {
    font-family: interregular;
    color: #EAECF0;
    letter-spacing: 0.026rem;
    line-height: 1.26rem;
    font-size: 1.06rem;
    text-align: center;
    padding: 0.8em 0em 1.4em 0.4em;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}

.partner-links {
    text-align: center;
}

.partner-links i {
    color: #EAECF0
}

.partner-logo {
    max-width: 180px;
    max-height: 180px;
}

.card-left {
    width: 34%;
}

.partner-links i:hover {
    color: #c4c4c4;
    cursor: pointer;
}

.faq-titles {
    margin-top: 2em;
}

.faq {
    text-align: center;
    font-family: InterSemiBold;
    list-style: none;
    margin: 3em auto;
    padding-bottom: 4em;
}

.q {
    display: flex;
    justify-content: space-between;
    color: #EAECF0;
    padding: 1.6rem 1.4rem;
    cursor: pointer;
    letter-spacing: 0.01rem;
    border-radius: 0.88em;
    margin: 0.8em 0em;
    background: linear-gradient(180deg, rgba(244, 244, 245, 0.1) 0%, rgba(244, 244, 245, 0.06) 99.85%)
}

.q:hover,
.q:hover .arrow {
    border-left-color: red;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.a {
    overflow: hidden;
    height: 0;
    padding: 0rem 1rem 0rem 3rem;
    color: #EAECF0;
}

.a p {
    padding: 0rem 1.4rem;
    line-height: 1.4rem;
    font-family: interregular;
    letter-spacing: 0.02rem;
    font-size: 0.96rem;
    text-align: start;
}

.a-opened {
    padding: 0.33rem 0rem;
    height: initial;
}

.arrow-rotated {
    transform: rotate(45deg);
}


.faq h1 {
    letter-spacing: 0.16rem;
    padding: 0em 0em 3.4em 0em;
    margin: 0%;
}

.questions {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .question-p {
        text-align: start;
        display: flex;
    }
}

.question-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 15rem;
    justify-content: space-between;
    cursor: pointer;
}

.q-a-hr {
    height: 1.8px;
    border: 0;
    border-top: 1.8px solid #e5e4e2;
    margin: 1.8em 15em;
}

.a-grant p {
    line-height: 2.6em;
}

.fa-chevron-down {
    padding-left: 0.3em;
    cursor: pointer;
}

.footer-container {
    display: flex;
    padding: 2em 0em;
    justify-content: space-between;
    color: #EAECF0;
    font-family: intermedium;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
}

.footer-links a {
    color: #EAECF0;
}

.footer-info {
    display: flex;
}

.footer-info a, .footer-info p {
    padding-right: 1.2em;
}

.footer-links {
    display: flex;
}

.footer-info-link:hover {
    color: #c4c4c4;
    cursor: pointer;
}

.footer-links a:hover {
    color: #c4c4c4;
    cursor: pointer;
}

.footer-icon {
    padding: 0em 0.2em 0em 1em;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-info p {
        padding: 0em 0em 1em 0em;
    }

    .footer-icon {
        padding: 0;
    }

    .footer-links {
        gap: 1em;
    }

    .partnerships-container {
        width: 92%
    }

    .card-order {
        width: 96%;
        display: flex;
        flex-direction: column;
        padding: 1.2em 2em;
        min-height: 600px;
        align-items: center;
        justify-content: center;
    }

    .card-order img {
        padding-bottom: 2em;
    }

    .partner-subtitle {
        padding: 0.8em 0em 1.4em 0em
    }

    .faq {
        padding-bottom: 0em;
    }

    .section-subtitle {
        margin-top: 0em;
        font-size: 1.04rem;
        padding: 0.4rem 0.8rem;
    }

    .section-title {
        font-size: 1.3rem;
    }

    .section-description {
        margin-bottom: 2rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}





